[submodule "Dynamic-Vision-Transformer-MindSpore"]
	path = Dynamic-Vision-Transformer-MindSpore
	url = https://github.com/blackfeather-wang/Dynamic-Vision-Transformer-MindSpore.git
[submodule "Dynamic-Vision-Transformer"]
	path = Dynamic-Vision-Transformer
	url = https://github.com/blackfeather-wang/Dynamic-Vision-Transformer.git
